################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PrintMauiApp/v17
/.vs/PrintMauiApp/FileContentIndex
/bin/Debug
/obj
/.vs
